body > header {
  padding: 20px 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #464646;
  .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .item + .item {
      &:before {
        content: '\272A';
        margin: 0 5px;
        @include fontsize(10);
        line-height: 1;
        color: #C2C2C2;
        opacity: 0.5;
        position: relative;
        top: -3px;
      } // &:before
    }
    .item {
      padding: 0;
      position: relative;
      &:nth-child(2) {
        &:before {
          content: '🍻';
          @include fontsize(26);
          opacity: 1;
          top: 3px;
        }
      }
      > * {
        white-space: nowrap;
        @include fontsize(22);
        @include bp($xs, $sm) {
          @include fontsize(16);
        }
      } // *
      h1 {
        margin: 0;
      } // h1
      a {
        text-decoration: none;
        color: #fff;
      } // a
    } // .item
  } // .links
} // body > header
