---
layout: base.njk
---

{% set postslist = collections.blog | homeList  %}
{% set post = collections.blog | reverse | first %}

<!-- post -->
<section class="post">
    <header>
        <h1><a href="{{ post.url }}">{{ post.data.title }}</a></h1>
        <div class="meta">
            <time class="meta-date">
                <i class="fa fa-clock-o"></i> {{ post.data.date | postDate }} в {{ post.data.date | postTime }}
            </time>
            <span class="meta-tags">
                {% if post.data.tags %}
                    <i class="fa fa-tags"></i>
                    {% for tag in post.data.tags %}
                        <a href="/tags/{{ tag | slug }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </span>
        </div>
    </header>
    <div class="post-poster">
        <img src="{{ page.meta.poster }}" alt="">
    </div>
    <article front-role="article">
      {{ post.templateContent | safe }}
    </article>
</section>
<!-- /post -->

<!-- posts_list -->
<section class="posts-list">
    <h3>Fresh posts</h3>
    <ul>
        {% for post in postslist %}
         <li>
            <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
            <div class="meta">
                <time class="meta-date">
                    <i class="fa fa-clock-o"></i> {{ post.data.date | postDate }} в {{ post.data.date | postTime }}
                </time>
                <span class="meta-tags">
                    {% if post.data.tags %}
                        <i class="fa fa-tags"></i>
                        {% for tag in post.data.tags %}
                            <a href="/tags/{{ tag | slug }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
<!-- /posts_list -->

<hr />

<a href="/archive">archive</a>